[submodule "Hazel/vendor/cmake-precompiled-header"]
	path = vendor/cmake-precompiled-header
	url = https://github.com/larsch/cmake-precompiled-header.git
[submodule "vendor/Tracy"]
	path = vendor/Tracy
	url = https://freeman40@bitbucket.org/wolfpld/tracy.git
